body {
    overflow-x: hidden;
  }
  
  
  .home-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin-top: 1rem;
  }
  
  .home-content {
    padding: 200px;
  }
  
  @media screen and (max-width: 430px) {
    .home-content {
      padding: 10px;
    }
  }
  
  @media screen and (min-width: 431px) and (max-width: 500px) {
    .home-content {
      padding: 20px;
    }
  }
  
  @media screen and (min-width: 501px) and (max-width: 800px) {
    .home-content {
      padding: 50px;
    }
  }