@tailwind base;
@tailwind components;
@tailwind utilities;
/* @import './styles.css'; */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

/* Add this to your global CSS */
body {
    overflow-x: hidden;
    margin: 0;
    padding: 0;
    width: 100%;
  }
  
  /* Optional: If you want to hide scrollbars but keep functionality */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  
  .no-scrollbar {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
  }